.crystal {
	height: 90px;
	width: 90px;
	margin: 12px;
	float: right;
	border-style: solid;
	border-width: 5px;
}

.jumbotron {
	background-image: url("granite.jpg");
}

#ruby {
	border-color: maroon;
}
#beryl {
	border-color: darkolivegreen;
}
#sapphire {
	border-color: navy;
}
#opal {
	border-color: chocolate;
}

p {
	font-size: 0.9em;
}

.box {
	height: 100px;
	width: 200px;
	/*background-color: red;*/
	margin: 10px 15px 0px 10px;
	float: right;
}

h4 {
	padding: 8px;
	text-align: center;
}

h5 {
	text-align: center;
}

#targetPoints, #playerPoints {
	text-align: center;
	font-weight: bold;
	font-size: 1.1em; 
}

#alerts {
	text-align: center;
	font-weight: bold;
}

.container {
	width: 800px;
}
